.App{
    height:100vh;
    width: 100%;
    background:#f1f1f1;
    display: flex;
}
.appcontainer{
    margin: auto;
    height: 80%;
    width: 60%;
    background: white;
} 
.a{
    display: flex;
    flex-direction: row;
    height: 90%;
}
/* <div className=""></div> */